.p1{
    display: grid;
    grid-template-columns: 20vw  20vw  5vw  auto 20vw;
    grid-template-rows: 10vh  auto auto auto 10vh;
    background-color: whitesmoke;
    
}
#test1{
    grid-column: 2/4;
    grid-row: 2/5;
    margin: 2px;
   
}
#word1{
    grid-column: 4/5;
    grid-row: 3/4;
   
    margin-left: 2px;

}
#title1{
    grid-column: 4/5;
    grid-row: 2/3;
}
.w1{
    font-size: 50px;
}
.w2{
    font-size: 20px;
}
