body{
    display: flex;
    flex-direction:row;
    min-height: 100vh;
    margin: 0;
    
}
header{
    flex-grow:1;
    background-color: black;
}
footer{
    flex-grow:1;
    background-color: black;
}
main{
    flex-grow: 12;
    
    display: flex;
    flex-direction: column;
    margin: 2px;
        }
.title{
    flex-grow:1;
    background-color: blueviolet;
    
}
.picture{
    flex-grow:6;
    background-color: rgb(226, 43, 119);
}
.word{
    flex-grow:3;
    background-color: rgb(43, 226, 83);

}
.footer{
    flex-grow:1;
    background-color: rgb(70, 43, 226);
}