body{
    display: flex;
    flex-direction:row;
    min-height: 100vh;
    margin: 0;
    
}
header{
    flex-grow:3;
   
}
footer{
    flex-grow:3;
    
}
main{
    flex-grow: 12;
    
    display: flex;
    flex-direction: column;
    margin: 2px;
        }
.title{
    height: 20vh;
    
}
.picture{
    flex-grow:5;
    display: flex;
    
    flex-direction:row ;
    
}
.push{
    flex-grow: 2;
}

.a2{
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-left: 2cm;
}

.footer{
    height: 15vh;
    
}